<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Load URDF file -->
  <include file="$(find p3at_description)/launch/state_publisher.launch" />

  <!-- Load robot driver -->
  <node name="RosAria" pkg="rosaria" type="RosAria">
    <param name="port" value="/dev/pioneer3at" />
    <remap from="/RosAria/pose" to="/odom"/>
    <remap from="/RosAria/cmd_vel" to="/cmd_vel"/>
  </node>

  <!-- Load rplidar driver -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

</launch>
